<div class="bg-primary-light">
    <div class="container-fluid text-center fs-26 c-white font-light p-v-20">Your Challenge: Drag and drop the images on the right to match the given image.</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="p-50">
                <img src="img/isentia.jpg" alt="Puzzle Clue" class="width-100 box-shadow-1" />
                <div class="btn btn-secondary btn-block fs-18 font-light m-t-30 p-v-20 area-clickable" ng-click="start()">Start Game</div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="p-50 text-center">
                <puzzle board="img/isentia.jpg" pieces="9" width="540"></puzzle>
            </div>
        </div>
    </div>
</div>